.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-roller {
  display: flex;  /* Change from inline-block to flex */
  gap: 10px; /* Adds spacing between loader dots */
}

.lds-roller div {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  animation: bounce 1.2s infinite ease-in-out;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.4s;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.2s;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.1s;
}
.lds-roller div:nth-child(5) {
  animation-delay: 0s;
}
.lds-roller div:nth-child(6) {
  animation-delay: 0.1s;
}
.lds-roller div:nth-child(7) {
  animation-delay: 0.2s;
}
.lds-roller div:nth-child(8) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}
